# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.log
db.sqlite3

# Ambiente
.env
.env.*
!.env.example
.venv/
venv/

# Django static/media de build e uploads
staticfiles/
media/

# IDE/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
Desktop.ini

# Testes / cobertura
.coverage
htmlcov/
.pytest_cache/
.tox/
.mypy_cache/

# Node (se usar)
node_modules/

# Docker / build
*.tar
*.pid
